.social-link {
    padding-right: 2em;
}

.jumbotron {
    padding-bottom: 2em;
}

.social-icon {
    max-height: 100%;
    width: auto;
}

.highlight pre {
    margin-left: 2em;
    margin-right: 2em;
    border: 1px black solid;
    padding: 0.5em;
}

.card {
    margin-bottom: 1em;
}
