{% extends "index.html" %}

{%- block head %}
    {{ super() }}
    <meta name="robots" content="noindex" />
{%- endblock %}

{% block title %}{{ category }} {% if articles_page.number != 1 %} | Page {{ articles_page.number }}{% endif %} | {{ SITENAME }}{% endblock %}

{% block content %}
    <article class="intro">
        {% for article in articles_page.object_list %}
        <section>
            <p class="article-title"><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
            <p><em>{{ article.locale_date }}</em>
            {{ article.summary }}
        </section>
        {% endfor %}
        {% include "partials/pagination.html" %}
    </article>
{% endblock %}}
