{% extends "base.html" %}

{% block title %}{{ SITENAME }}{% if articles_page.number != 1 %} - Page {{ articles_page.number }}{% endif %}{% endblock %}
{% block og_title %}{{ SITENAME }}{% endblock %}

{% block content %}
    <article class="intro">
        {% for article in articles_page.object_list %}
        <section>
            <p><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
            <p><em>{{ article.locale_date }}</em>
            {{ article.summary }}
        </section>
        {% endfor %}
        {% include "partials/pagination.html" %}
    </article>
{% endblock %}
