{% if DEFAULT_PAGINATION %}
<nav>
    <ul class="pagination">
        <li class="page-item {% if articles_page.has_previous() == False %} disabled {% endif %}">
            <a class="page-link" href="{{ SITEURL }}/{{ articles_previous_page.url }}">
                Previous
            </a>
        </li>
        {% for i in range(1, articles_paginator.num_pages + 1) %}
            <li class="page-item {% if articles_page.number == i %} active {% endif %}">
                <a class="page-link" href="#">
                   {{ i }}
                </a>
            </li>
        {% endfor %}
        <li class="page-item {% if articles_page.has_next() == False %} disabled {% endif %}">
            <a class="page-link" href="{{ SITEURL }}/{{ articles_next_page.url }}">
                Next
            </a>
        </li>
    </ul>
</nav>
{% endif %}
